@use "sass:meta";
@use "sass:string";
@use "../variables" as var;
@use "../mixins/responsive" as *;
@use "../core/functions" as func;

@mixin _generate-single-rule($property, $value) {
  #{$property}: $value;
}

@mixin _generate-variants($cls, $property, $value, $responsive-prefix: null) {
  $base-cls-name: if($responsive-prefix != null, "#{$responsive-prefix}\\:#{$cls}", $cls);

  .#{$base-cls-name} {
    @include _generate-single-rule($property, $value);
  }

  @each $variant, $selector in var.$variants {
    $variant-cls-name: if($responsive-prefix != null, "#{$responsive-prefix}\\:#{$variant}\\:#{$cls}", "#{$variant}\\:#{$cls}");
    .#{$variant-cls-name}#{$selector} {
      @include _generate-single-rule($property, $value);
    }
  }
}

// classbane oluşturucu fonksyion DRY'a uygun olması için
@mixin _generate-utility-classes-for-scope($property, $class-prefix, $values, $responsive-prefix: null) {
  @each $key, $value in $values {
    $cls-name: "";
    $key-str: if(meta.type-of($key) == 'number', "#{$key}", $key);

    // grow-1 yerine grow yazması için variableda key "" ise direkt kendi adını basar // display-flex yerine, flex yazması için
    @if $key == "" {
      $cls-name: if($class-prefix == null, "", $class-prefix);
    }
      // Eğer key - ile başlıyorsa (örnek: "-1") ve prefix varsa (order), -order-1 şeklinde class adı oluşturur.
    @else if string.slice($key-str, 1, 1) == "-"  and $class-prefix != null {
      $cls-name: "-#{$class-prefix}-#{string.slice($key-str, 2)}";
    }
      // En standart durum: shrink-1, order-2, m-4 gibi class adlarını üretir.
    @else {
      $cls-name: if($class-prefix == null, $key, "#{$class-prefix}-#{$key}");
    }

    $cls: func.escape-start-number($cls-name);
    @include _generate-variants($cls, $property, $value, $responsive-prefix);
  }
}

@mixin generate-utility($property, $class-prefix, $values) {
  @include _generate-utility-classes-for-scope($property, $class-prefix, $values);

  @each $bp, $size in var.$breakpoints {
    @include responsive($bp) {
      $escaped-bp: func.escape-start-number($bp);

      @include _generate-utility-classes-for-scope($property, $class-prefix, $values, $escaped-bp);
    }
  }
}

@mixin generate-negative-utilities($property, $class-prefix, $values) {
  @each $key, $value in $values {
    @if meta.type-of($value) == "number" and $value > 0 {
      $neg-key: "-#{$key}";
      $neg-value: $value * -1;
      @include generate-utility($property, $class-prefix, ($neg-key: $neg-value));
    }
  }
}